WAHA_DASHBOARD_USERNAME=admin
WAHA_DASHBOARD_PASSWORD=changeme123456789012345678901
WAHA_API_KEY=changeme123456789012345678901234567

# Webserver
WAHA_PORT=3000
WAHA_WEB_PORT=3001

# Session
WAHA_SESSION_TIMEOUT_API_KEY=300
WAHA_SESSION_TIMEOUT_MS=120000
WAHA_SESSION_CLEANUP_INTERVAL_MS=60

# Engine (webjs, noweb, gows, venom)
WAHA_ENGINE=webjs

# Logging
WAHA_LOG_LEVEL=info
